.container-1{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
  margin-left: 15%;
  height: 100vh;
}
.box-1 {
  text-align: center;
}
.body-1 {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: normal;
  color: #3a85fc;
}
body{ background-color: #3a85fc;}
h1{
  font-family: arial;
  font-style: italic;
}
.postitus{
  border: 0;
  border-radius: 0;
  @media (max-width: 1000px){
    .postitus{
      margin-bottom: 20px;
    }
  }
  .postitus-body h3{
    font-size: 20px;
    margin-bottom: 3px;
  }

}
.postitus-header{
  font-size: 12px;
  text-align: right;
  color: gray;
}
